<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div id="readFrame">
            <div style="background:transparent top right no-repeat; color: #888;font-size: 12px;margin: 50px auto;width: 90%;">
                <a href="http://localhost:8090/startfun/index.do" target="_blank" rel="noreferrer noopener">
                    <img src="https://i.ibb.co/MnYWqBK/startfun-logo.png" alt="startfun-logo" border="0" width="200">
                </a>
                <h1 style="line-height: 1.5;color: #333;font-size: 14px; font-weight: bold; margin-bottom:24px;">
                    ${member_email}님의 비밀번호 초기화 메일입니다
                </h1>
                <p style="font-size: 14px; color:#333; line-height: 1.8;margin-bottom:24px;">
                    비밀번호를 바꾸시려면, 아래의 링크를 클릭하세요.
                </p>
                <div style="font-size: 12px; color: #0a93cc; padding: 10px; border-top: 1px dotted #ddd;  margin: 20px 0 0 0;">
                    <a href="http://localhost:8090/startfun/passwordConfirm.do?email=${member_email}&key=${key}" rel="noreferrer noopener" target="_blank">링크를 클릭하여 비밀번호 재설정하기</a>
                </div>
                <div style="border-top: 1px dotted #999;padding-top: 10px;">
                    <div style="color: #999;font-size: 10px;font-style: normal;text-align: right;text-decoration: none;">
                        2021© WEIS,Inc. All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>